.checkbox {
  width: 100%;
  padding: 1px 0;
}
.checkbox:hover {
  background: aliceblue;
}
.checkbox input {
  transform: scale(1.2);
  tranform-origin: 0 0;
  margin-right: 8px;
  margin-left: 1px;
}
